<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170589663294-p24qcr9c62k7l7fe59ntt3tlhq3gblok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170589663294-p24qcr9c62k7l7fe59ntt3tlhq3gblok</string>
	<key>API_KEY</key>
	<string>AIzaSyASovehINdqsbKaJR07Nq-w5DkRMe0b90c</string>
	<key>GCM_SENDER_ID</key>
	<string>170589663294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.babBabbabFront</string>
	<key>PROJECT_ID</key>
	<string>bab-babbab</string>
	<key>STORAGE_BUCKET</key>
	<string>bab-babbab.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170589663294:ios:569ce01804190d1dab616f</string>
</dict>
</plist>